*~
*.pid
*.out
*.log
\#*
\.\#*
.project
.buildpath
node_modules/
Gitane/*
Gitane
node_modules
*.gem
.chef/cookbooks/coreo/recipes/config.rb
*.idea
*.iml
*.tar.gz
.DS_Store
.chef/cookbooks/coreo/recipes/