<% toc_level = (level, maxLevel, currentLevel=1) => %>
    <% if currentLevel!=1: %>
    <ul class="nav nav-stacked">
    <% end %>
    <% for entry in level: %>
        <li>
          <a href="#<%= entry.anchor %>"><%= entry.title %></a>
            <% if entry.childs and currentLevel < maxLevel: %>
                <%= toc_level(entry.childs, maxLevel, currentLevel + 1) %>
            <% end %>
        </li>
    <% end %>
    <% if currentLevel!=1: %>
    </ul>
    <% end %>
<% end %>

<nav id="toc" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
    <ul id="sidebar" data-spy="affix" data-offset-top="198" data-offset-bottom="70" class="nav nav-stacked fixed">
    <%= toc_level(@manifest.tableOfContent, @manifest.maxTocLevel) %>
      <li>
	<a href="#disquscomments">Comments</a>
      </li>
    Ready for More?
    
    <% if @manifest.links: %>
	<% for link in @manifest.links: %>
	<li><a target="<%= link[2] %>" href="<%= link[1] %>"><%= link[0] %></a></li>
	<% end %>
    <% end %>
    </ul>
</nav>
